<h2>Formulaire de recherche d'une classe standard</h2>
<br/>
<form class="form-horizontal">
	<div class="form-group">
		<label for="id" class="col-sm-2 control-label">R&eacutef&eacuterence</label>
		<div class="col-sm-10">
			<input type="number" class="form-control" id="id" placeholder="ID"
				ng-model="id" />
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<input type="button" class="btn btn-default" value="Rechercher" ng-click="recherche()">
		</div>
	</div>
</form>

<div ng-show="indice">
<h2>Informations sur la classe standard</h2>
<table class="table table-striped">
	<tr>
		<th>Nom</th>
		<th>Type de Bien</th>
		<th>Mode d'offre</th>
		<th>Prix Maximal</th>
		<th>Superficie Minimale</th>
	</tr>
	<tr>
		<td>{{cs.nom}}</td>
		<td>{{cs.typeBien}}</td>
		<td>{{cs.modeOffre}}</td>
		<td>{{cs.prixMax}}</td>
		<td>{{cs.superficieMin}}</td> 
	</tr>
</table>