<h1>Liste des Propri&eacutetaires</h1>
<table class="table table-striped">
	<tr>
		<th>Nom</th>
		<th>Email</th>
		<th>N° de rue</th>
		<th>Rue</th>
		<th>Code Postal</th>
		<th>Ville</th>
		<th>Pays</th>
		<th>T&eacutel&eacutephone Personnel</th>
		<th>T&eacutel&eacutephone Professionnel</th>
	</tr>
	<tr ng-repeat="p in liste">
		<td>{{p.nom}}</td>
		<td>{{p.mail}}</td>
		<td>{{p.adresse.numRue}}</td>
		<td>{{p.adresse.rue}}</td>
		<td>{{p.adresse.cp}}</td> 
		<td>{{p.adresse.localite}}</td>
		<td>{{p.adresse.pays}}</td>
		<td>{{p.telPerso}}</td>
		<td>{{p.telPro}}</td>
	</tr>
</table>