<h2>Liste des Propri&eacutetaires</h2>
<table class="table table-striped">

Rechercher les biens par propri&eacutetaire : <input type="text" ng-model="recherche">

<br>
<br>

	<tr>
		<th>R&eacutef&eacuterence</th>
		<th>Nom</th>
		<th>Email</th>
		<th>Rue</th>
		<th>Code Postal</th>
		<th>Ville</th>
		<th>Pays</th>
		<th>T&eacutel&eacutephone Personnel</th>
		<th>T&eacutel&eacutephone Professionnel</th>
	</tr>
	<tr ng-repeat="p in liste | filter:{nom : recherche}">
		<td>{{p.id}}</td>
		<td>{{p.nom}}</td>
		<td>{{p.mail}}</td>
		<td>{{p.adresse.numRue}}, {{p.adresse.rue}}</td>
		<td>{{p.adresse.cp}}</td> 
		<td>{{p.adresse.localite}}</td>
		<td>{{p.adresse.pays}}</td>
		<td>{{p.telPerso}}</td>
		<td>{{p.telPro}}</td>
	</tr>
</table>