<h2>Formulaire de modification d'un Propri&eacutetaire</h2>
<br />
ID <input type="number" placeholder="ID" ng-model="pForm.id">
<br/>
Nom <input type="text" placeholder="nom" ng-model="pForm.nom">
<br/>
Email <input type="text" placeholder="mail" ng-model="pForm.mail">
<br/>
Num&eacutero de rue <input type="number" placeholder="Numero" ng-model="pForm.adresse.numRue">
<br/>
Rue <input type="text" placeholder="rue" ng-model="pForm.adresse.rue">
<br/>
Code Postal <input type="text" placeholder="code postal" ng-model="pForm.adresse.cp">
<br/>
Ville <input type="text" placeholder="ville" ng-model="pForm.adresse.localite">
<br/>
Pays <input type="text" placeholder="pays" ng-model="pForm.adresse.pays">
<br/>
T&eacutel&eacutephone Personnel <input type="text" placeholder="tel personnel" ng-model="pForm.telPerso">
<br/>
T&eacutel&eacutephone Professionnel <input type="text" placeholder="tel pro" ng-model="pForm.telPro">
<br />
<input type="button" value="Modifier" ng-click="modifier()">
<br/>
<h3>{{msg}}</h3>