<h2>Liste des Biens immobilier en vente</h2>
<table class="table table-striped">
	<tr>
		<th>R&eacutef&eacuterence</th>
		<th>Type de Bien</th>
		<th>Statut</th>
		<th>Revenu cadastral</th>
		<th>Description</th>
		<th>Date de soumission</th>
		<th>Date de disposition</th>
		<th>Photo descriptive</th>
		<th>Prix</th>
		<th>Etat</th>
		<th>Rue</th>
		<th>Code Postal</th>
		<th>Ville</th>
		<th>Pays</th>

	</tr>
	<tr ng-repeat="bv in liste">
		<td>{{bv.id}}</td>
		<td>{{bv.typeBien}}</td>
		<td>{{bv.statut}}</td>
		<td>{{bv.revenuCadastre}}</td>
		<td>{{bv.description}}</td>
		<td>{{bv.dateSoumission | date: "dd/MM/yyyy"}}</td>
		<td>{{bv.dateDisposition | date: "dd/MM/yyyy"}}</td>
		<td><img ng-repeat="p in bv.listeImages" ng-src="data:image/JPEG;base64,{{p.image}}" style="max-height:50px;max-width:50px"></td>
		<td>{{bv.prix}}</td>
		<td>{{bv.etat}}</td>
		<td>{{bv.adresse.numRue}}, {{bv.adresse.rue}}</td>
		<td>{{bv.adresse.cp}}</td> 
		<td>{{bv.adresse.localite}}</td>
		<td>{{bv.adresse.pays}}</td>
	</tr>
</table>