<h2 style="color : aquamarine; text-align: center">Liste des agences</h2>
<table class="table table-striped">
	<tr>
		<th>Nom</th>
		<th>Rue</th>
		<th>Code Postal</th>
		<th>Ville</th>
		<th>Pays</th>
		<th>Liens</th>
	</tr>
	<tr ng-repeat="a in liste">
		<td>{{a.nom}}</td>
		<td>{{a.adresse.numRue}}, {{a.adresse.rue}}</td>
		<td>{{a.adresse.cp}}</td>
		<td>{{a.adresse.localite}}</td>
		<td>{{a.adresse.pays}}</td>
		<td><a ng-click="delLink(a.id)">Supprimer</a> | <a ng-click="updLink(a)">Modifier</a></td>
	</tr>
</table>