<h2>Liste des responsables</h2>
<table class="table table-striped">
  <thead>
    <tr>
    	<th>Identifiant</th>
      <th >Nom</th>
      <th >Telephone</th>
      <th >Mail</th>
      <th >Identifiant</th>
      <th>Agence</th>
      <th>Lien</th>
      
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="r in liste">
    <td>{{r.id}}</td>
      <td>{{r.nom}}</td>
      <td>{{r.telPerso}}</td>
      <td>{{r.mail}}</td>
      <td>{{r.identifiant}}</td>
      <td>{{r.agence.nom}}</td>
      <td><a ng-click="deleteLien(r)">Supprimer</a> | <a ng-click="updateLien(r)">Modifier</a></td>
    </tr>
   
  </tbody>
</table>