<h2>Recherche d'un responsable</h2>

<form class="form-horizontal">
  <div class="form-group">
    <label for="idID" class="col-sm-2 control-label">Identifiant</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="idID" placeholder="identifiant" ng-model="id">
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button class="btn btn-default" ng-click="rechercher()">Rechercher</button>
    </div>
  </div>
  
</form>
<br/>
<table class="table table-striped">
  <thead>
    <tr>
      <th >Nom</th>
      <th >Telephone</th>
      <th >Mail</th>
      <th >Identifiant</th>
      <th >Agence</th>
    </tr>
  </thead>
  <tbody>
    <tr >
      <td>{{responsable.nom}}</td>
      <td>{{responsable.telPerso}}</td>
      <td>{{responsable.mail}}</td>
      <td>{{responsable.identifiant}}</td>
      <td>{{responsable.agence.nom}}</td>
    </tr>
   
  </tbody>
</table>
