<h2>Liste des agences</h2>
<table class="table">

Rechercher par nom : <input type="text" ng-model="recherche">
Rechercher par ville : <input type="text" ng-model="findville">
<br>
<br>
	<tr style="border-radius: 15px 15px 0px 0px; border: none; background-color: grey">
		<th>Nom</th>
		<th>Rue</th>
		<th>Code Postale</th>
		<th>Ville</th>
		<th>Pays</th>		
	</tr>
	<tr ng-repeat="a in liste | filter: {nom : recherche}" style="background-color: white">
		<td>{{a.nom}}</td>
		<td>{{a.adresse.numRue}}, {{a.adresse.rue}}</td>
		<td>{{a.adresse.cp}}</td>
		<td>{{a.adresse.localite}}</td>
		<td>{{a.adresse.pays}}</td>
		
	</tr>
</table>
	
	