<h1>Liste des Biens immobilier en location</h1>
<table class="table">

Rechercher par type de bien : <input type="text" ng-model="recherche">
rechercher par garniture : <input type="text" ng-model="findGarniture">


<br>
<br>

	<tr style="border-radius: 15px 15px 0px 0px; border: none; background-color: grey">
		<th>Type de Bien</th>
		<th>Statut</th>
		<th>Revenu cadastral</th>
		<th>Description</th>
		<th>Date de soumission</th>
		<th>Date de disposition</th>
		<th>Photo descriptive</th>
		<th>Caution locative</th>
		<th>Loyer Mensuel</th>
		<th>Charges mensuelles</th>
		<th>Tye de bail</th>
		<th>Garniture</th>
		<th>Rue</th>
		<th>Code Postal</th>
		<th>Ville</th>
		<th>Pays</th>
	</tr>
	<tr ng-repeat="b in liste | filter:{typeBien : recherche, garniture : findGarniture}" style="background-color: white">
		<td>{{b.typeBien}}</td>
		<td>{{b.statut}}</td>
		<td>{{b.revenuCadastre}}</td>
		<td>{{b.description}}</td>
		<td>{{b.dateSoumission | date: "dd/MM/yyyy"}}</td>
		<td>{{b.dateDisposition | date: "dd/MM/yyyy"}}</td>
		<td><img ng-src="data:image/JPEG;base64,{{b.listeImage}}" style="max-height:50px;max-width:50px"></td>
		<td>{{b.caution}}</td>
		<td>{{b.loyer}}</td>
		<td>{{b.charges}}</td>
		<td>{{b.typeBail}}</td>
		<td>{{b.garniture}}</td>
		<td>{{b.adresse.numRue}}, {{p.adresse.rue}}</td>
		<td>{{b.adresse.cp}}</td> 
		<td>{{b.adresse.localite}}</td>
		<td>{{b.adresse.pays}}</td>
	</tr>
</table>