<h2>Formulaire de recherche d'un bien immobilier en location</h2>
<br />
<br />
<form class="form-horizontal">
	<div class="form-group">
		<label for="adresse" class="col-md-2 control-label">Adresse</label>
		<div class="col-md-6">
			<input type="text" class="form-control" id="adrese" ng-model="adresse">
		</div>
	</div>
	<br />
	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<input type="button" class="btn btn-default" value="Rechercher"
				ng-click="rechercher()">
		</div>
	</div>
</form>
<br />
<div ng-show="indice">
	<h1>Informations du bien</h1>
	<br />
	<table class="table table-striped">
		<tr style="border-radius: 15px 15px 0px 0px; border: none; background-color: grey">
			<th>Type de Bien</th>
			<th>Statut</th>
			<th>Revenu cadastral</th>
			<th>Description</th>
			<th>Date de soumission</th>
			<th>Date de disposition</th>
			<th>Photo descriptive</th>
			<th>Caution locative</th>
			<th>Loyer Mensuel</th>
			<th>Charges mensuelles</th>
			<th>Tye de bail</th>
			<th>Garniture</th>
			<th>Rue</th>
			<th>Code Postal</th>
			<th>Ville</th>
			<th>Pays</th>
		</tr>
		<tr ng-repeat="bl in bienlouer" style="background-color: white">
			<td>{{bl.typeBien}}</td>
			<td>{{bl.statut}}</td>
			<td>{{bl.revenuCadastre}}</td>
			<td>{{bl.description}}</td>
			<td>{{bl.dateSoumission | date: "dd/MM/yyyy"}}</td>
			<td>{{bl.dateDisposition | date: "dd/MM/yyyy"}}</td>
			<td><img ng-repeat="p in bienlouer.listeImages"
				ng-src="data:image/JPEG;base64,{{p.image}}"
				style="max-height: 50px; max-width: 50px"></td>
			<td>{{bl.caution}}</td>
			<td>{{bl.loyer}}</td>
			<td>{{bl.charges}}</td>
			<td>{{bl.typeBail}}</td>
			<td>{{bl.garniture}}</td>
			<td>{{bl.adresse.numRue}}, {{bl.adresse.rue}}</td>
			<td>{{bl.adresse.cp}}</td>
			<td>{{bl.adresse.localite}}</td>
			<td>{{bl.adresse.pays}}</td>
		</tr>

	</table>

	
	
	
	
	
	
	
	
	
	
	