<h2>Recherche d'un bien immobilier en vente par son adresse</h2>
<br />
<form class="form-horizontal">
	<div class="form-group">
		<label for="adresse" class="col-md-2 control-label">Adresse</label>
		<div class="col-md-6">
			<input type="text" class="form-control" id="adresse" ng-model="adresse">
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<input type="button" class="btn btn-default" value="Rechercher" ng-click="rechercher()">
		</div>
	</div>
</form>
<br />
<div ng-show="indice">
	<h1>Informations du bien</h1>
	<br />
	<table class="table table-striped">
		<tr style="border-radius: 15px 15px 0px 0px; border: none; background-color: grey">
			<th>Type de Bien</th>
			<th>Statut</th>
			<th>Revenu cadastral</th>
			<th>Description</th>
			<th>Date de soumission</th>
			<th>Date de disposition</th>
			<th>Photo descriptive</th>
			<th>Prix</th>
			<th>Etat</th>
			<th>Rue</th>
			<th>Code Postal</th>
			<th>Ville</th>
			<th>Pays</th>

		</tr>
		<tr ng-repeat="bv in bienvendre" style="background-color: white">
			<td>{{bv.typeBien}}</td>
			<td>{{bv.statut}}</td>
			<td>{{bv.revenuCadastre}}</td>
			<td>{{bv.description}}</td>
			<td>{{bv.dateSoumission | date: "dd/MM/yyyy"}}</td>
			<td>{{bv.dateDisposition | date: "dd/MM/yyyy"}}</td>
			<td><img ng-repeat="p in bienvendre.listeImages"
				ng-src="data:image/JPEG;base64,{{p.image}}"
				style="max-height: 50px; max-width: 50px"></td>
			<td>{{bv.prix}}</td>
			<td>{{bv.etat}}</td>
			<td>{{bv.adresse.numRue}}, {{bv.adresse.rue}}</td>
			<td>{{bv.adresse.cp}}</td>
			<td>{{bv.adresse.localite}}</td>
			<td>{{bv.adresse.pays}}</td>
		</tr>
	</table>