<div class="jumbotron">
  <h1 class="display-4">Bienvenue chez Pachyderme-Immo</h1>
  <p class="lead">Pachyderme-Immo vous accueillent dans leurs agences partout en France !</p>
  <hr class="my-4">
  <p>Avec Pachyderme-Immo, c'est aussi facile (mais compliqu&eacute) de trouver, vendre ou louer un bien immobilier que de tirer sur un &eacutel&eacutephant dans un couloir</p>
  <p class="lead">
    <a class="btn btn-success btn-lg" href="#!qui" role="button">qui sommes-nous ?</a>
  </p>
</div>