<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.0"
	xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd">
	<persistence-unit name="PU" transaction-type="JTA">


		<!-- spécifier le fournisseur de l'implémentation de jpa : hibernate -->


		<provider>org.hibernate.ejb.HibernatePersistence</provider>


		<!-- déclaration des classes persitantes (les entités managées) -->

		<class>fr.adaming.model.Adresse</class>
		<class>fr.adaming.model.Agence</class>
		<class>fr.adaming.model.BienImmobilier</class>
		<class>fr.adaming.model.BienImmobilierALouer</class>
		<class>fr.adaming.model.BienImmobilierAVendre</class>
		<class>fr.adaming.model.ClasseStandard</class>
		<class>fr.adaming.model.Client</class>
		<class>fr.adaming.model.Contrat</class>
		<class>fr.adaming.model.Personne</class>
		<class>fr.adaming.model.Proprietaire</class>
		<class>fr.adaming.model.Responsable</class>
		<class>fr.adaming.model.Visite</class>


		<!-- spécifier les infos de la connection à la bd -->

		<properties>

			<property name="javax.persistence.jdbc.url"
				value="jdbc:mysql://localhost:3306/db_appSystemeAgence?createDatabaseIfNotExist=true" />
			<property name="javax.persistence.jdbc.user" value="root" />
			<property name="javax.persistence.jdbc.password" value="root" />


			<!-- les p^ropriété de hibernate -->

			<property name="hibernate.connection.driver_class" value="com.mysql.jdbc.Driver" />
			<property name="hibernate.dialect" value="org.hibernate.dialect.MySQLDialect" />
			<property name="hibernate.hbm2ddl.auto" value="update" />
			<property name="hibernate.show_sql" value="true" />

		</properties>






	</persistence-unit>
</persistence>
