<h2>Formulaire d'ajout d'un Bien immobilier en location</h2>
<br />
<form class="form-horizontal">

	<div class="col-md-6"
		style="border-right-style: solid; border-right-color: darkblue;">
		<div class="form-group">
			<label for="cs" class="col-md-4 control-label">Classe
				standard li&eacutee</label>
			<div class="col-md-6">
				<select class="form-control" ng-model="blForm.classeStandard.id">
					<option value="">choisissez une classe</option>
					<option value="1">Terrain pour construction</option>
					<option value="2">Maison d'habitation de moins de 3chambres pour achat</option>
					<option value="3">Maison d'habitation de plus de 3chambres pour location</option>
					<option value="4">Studio sympa en location</option>
					<option value="5">Entrepot industriel pour achat</option>
					<option value="6">Appartement de 2chambres en location</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-4 control-label">Type de bien</label>
			<div class="col-md-6">
				<select class="form-control" ng-model="blForm.typeBien">
					<option value="">choisissez un type de bien</option>
					<option value="maison">Maison</option>
					<option value="appartement">Appartement</option>
					<option value="studio">Studio</option>
					<option value="entrepot">Entrepot</option>
					<option value="emplacement">Emplacement</option>
					<option value="terrain">Terrain</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-4 control-label">Statut</label>
			<div class="col-md-6">
				<div class="radio">
					<label> <input type="radio" name="statut"
						value="disponible" ng-model="blForm.statut"> Disponible
					</label>
				</div>
				<div class="radio">
					<label> <input type="radio" name="statut" value="loue"
						ng-model="blForm.statut"> Lou&eacute
					</label>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="desc" class="col-md-4 control-label">Description</label>
			<div class="col-md-6">
				<textarea class="form-control" rows="7" id="desc"
					placeholder="description" ng-model="blForm.description"></textarea>
			</div>
		</div>
		<div class="form-group">
			<label for="rev" class="col-md-4 control-label">Revenu
				cadastral</label>
			<div class="col-md-6">
				<input type="number" class="form-control" id="rev"
					placeholder="revenu" ng-model="blForm.revenuCadastre">
			</div>
		</div>
		<div class="form-group">
			<label for="date" class="col-md-4 control-label">Date de
				soumission</label>
			<div class="col-md-6">
				<input type="date" class="form-control" id="date" placeholder="date"
					ng-model="blForm.dateSoumission">
			</div>
		</div>
		<div class="form-group">
			<label for="date" class="col-md-4 control-label">Date de
				disposition</label>
			<div class="col-md-6">
				<input type="date" class="form-control" id="date" placeholder="date"
					ng-model="blForm.dateDisposition">
			</div>
		</div>
		<div class="form-group">
			<label for="sup" class="col-md-4 control-label">Superficie</label>
			<div class="col-md-6">
				<input type="number" class="form-control" id="sup"
					ng-model="blForm.superficie">
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-4 control-label">Garniture</label>
			<div class="col-md-6">
				<div class="radio">
					<label> <input type="radio" name="garniture" value="meuble"
						ng-model="blForm.garniture"> Meubl&eacute
					</label>
				</div>
				<div class="radio">
					<label> <input type="radio" name="garniture"
						value="non meuble" ng-model="blForm.garniture"> Non
						meubl&eacute
					</label>
				</div>
			</div>
		</div>
	</div>



	<div class="col-md-6">
		<div class="form-group">
			<label for="proprio" class="col-md-4 control-label">Propri&eacutetaire</label>
			<div class="col-md-6">
				<input type="number" class="form-control" id="proprio"
					ng-model="blForm.proprietaire.id">
			</div>
		</div>
		<div class="form-group">
			<label for="photo" class="col-md-4 control-label">Photo
				descriptive</label>
			<div class="col-md-6">
				<input type="file" class="form-control" id="photo"
					placeholder="image" ng-model="blForm.photos" accept="image/*"
					base-sixty-four-input multiple>
			</div>
		</div>
		<div class="form-group">
			<label for="loyer" class="col-md-4 control-label">Loyer
				Mensuel</label>
			<div class="col-md-6">
				<input type="number" class="form-control" id="loyer"
					placeholder="loyer" ng-model="blForm.loyer">
			</div>
		</div>
		<div class="form-group">
			<label for="charges" class="col-md-4 control-label">Charges
				mensuelles</label>
			<div class="col-md-6">
				<input type="number" class="form-control" id="charges"
					placeholder="charges" ng-model="blForm.charges">
			</div>
		</div>
		<div class="form-group">
			<label for="caution" class="col-md-4 control-label">Caution
				locative</label>
			<div class="col-md-6">
				<input type="number" class="form-control" id="caution"
					placeholder="caution" ng-model="blForm.caution">
			</div>
		</div>
		<div class="form-group">
			<label for="bail" class="col-md-4 control-label">Type de bail</label>
			<div class="col-md-6">
				<input type="text" class="form-control" id="bail" placeholder="bail"
					ng-model="blForm.typeBail">
			</div>
		</div>
		<hr />
		<div class="form-group">
			<label for="no" class="col-md-4 control-label">Num&eacutero
				de rue</label>
			<div class="col-md-6">
				<input type="number" class="form-control" id="no"
					placeholder="Numero" ng-model="blForm.adresse.numRue">
			</div>
		</div>
		<div class="form-group">
			<label for="rue" class="col-md-4 control-label">Rue</label>
			<div class="col-md-6">
				<input type="text" class="form-control" id="rue" placeholder="rue"
					ng-model="blForm.adresse.rue">
			</div>
		</div>
		<div class="form-group">
			<label for="cp" class="col-md-4 control-label">Code Postal</label>
			<div class="col-md-6">
				<input type="text" class="form-control" id="cp"
					placeholder="code postal" ng-model="blForm.adresse.cp">
			</div>
		</div>
		<div class="form-group">
			<label for="ville" class="col-md-4 control-label">Ville</label>
			<div class="col-md-6">
				<input type="text" class="form-control" id="ville"
					placeholder="ville" ng-model="blForm.adresse.localite">
			</div>
		</div>
		<div class="form-group">
			<label for="pays" class="col-md-4 control-label">Pays</label>
			<div class="col-md-6">
				<input type="text" class="form-control" id="pays" placeholder="pays"
					ng-model="blForm.adresse.pays">
			</div>
		</div>
	</div>

	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<input type="button" class="btn btn-default" value="Ajouter"
				ng-click="ajouter()">

		</div>
	</div>

</form>

<h3>{{msg}}</h3>


