<h2>Liste des Biens immobilier en location</h2>
<table class="table table-striped">
	<tr>
		<th>R&eacutef&eacuterence</th>
		<th>Type de Bien</th>
		<th>Statut</th>
		<th>Revenu cadastral</th>
		<th>Description</th>
		<th>Date de soumission</th>
		<th>Date de disposition</th>
		<th>Photo descriptive</th>
		<th>Caution locative</th>
		<th>Loyer Mensuel</th>
		<th>Charges mensuelles</th>
		<th>Type de bail</th>
		<th>Superficie</th>
		<th>Garniture</th>
		<th>Rue</th>
		<th>Code Postal</th>
		<th>Ville</th>
		<th>Pays</th>
	</tr>
	<tr ng-repeat="b in liste">
		<td>{{b.id}}</td>
		<td>{{b.typeBien}}</td>
		<td>{{b.statut}}</td>
		<td>{{b.revenuCadastre}}</td>
		<td>{{b.description}}</td>
		<td>{{b.dateSoumission | date: "dd/MM/yyyy"}}</td>
		<td>{{b.dateDisposition | date: "dd/MM/yyyy"}}</td>
		<td><img ng-repeat="p in b.listeImages" ng-src="data:image/JPEG;base64,{{p.image}}" style="max-height:50px;max-width:50px"></td>
		<td>{{b.caution}}</td>
		<td>{{b.loyer}}</td>
		<td>{{b.charges}}</td>
		<td>{{b.typeBail}}</td>
		<td>{{b.superficie}}</td>
		<td>{{b.garniture}}</td>
		<td>{{b.adresse.numRue}}, {{b.adresse.rue}}</td>
		<td>{{b.adresse.cp}}</td> 
		<td>{{b.adresse.localite}}</td>
		<td>{{b.adresse.pays}}</td>
	</tr>
</table>