<h2 style="color: red; text-align: center;">Liste des clients</h2>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Nom</th>
			<th>Telephone</th>
			<th>Mail</th>
			<th>acquereur</th>
			<th>numCompostage</th>
			<th>adresse</th>
			<th>operation</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="cl in liste">
			<td>{{cl.nom}}</td>
			<td>{{cl.telPerso}}</td>
			<td>{{cl.mail}}</td>
			<td>{{cl.acquereur}}</td>
			<td>{{cl.numCompostage}}</td>
			<td>{{cl.adresse}}</td>
			<td><a ng-click="deleteLien(cl)">Supprimer</a> | <a
				ng-click="updateLien(cl)">Modifier</a></td>
		</tr>

	</tbody>
</table>





