<h2>Formulaire de recherche d'un client</h2>
<br />
<form class="form-horizontal">
	<div class="form-group">
		<label for="id" class="col-sm-2 control-label">ID</label>
		<div class="col-sm-10">
			<input type="number" class="form-control" id="id" placeholder="ID"
				ng-model="id">
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<input type="button" class="btn btn-default" value="Rechercher" ng-click="recherche()">
		</div>
	</div>
</form>

<div ng-show="indice">
	<h1>Informations du client</h1>

	<table class="table table-striped">
		<tr>
			<th>Nom</th>
			<th>Telephone</th>
			<th>Mail</th>
			<th>acquereur</th>
			<th>numCompostage</th>
			<th>Rue</th>
			<th>Code Postale</th>
			<th>Ville</th>
			<th>Pays</th>
			
			
		</tr>
		<tr>
			<td>{{cl.nom}}</td>
			<td>{{cl.telPerso}}</td>
			<td>{{cl.mail}}</td>
			<td>{{cl.acquereur}}</td>
			<td>{{cl.numCompostage}}</td>
			<td>{{cl.adresse.numRue}}, {{cl.adresse.rue}}</td>
			<td>{{cl.adresse.cp}}</td>
			<td>{{cl.adresse.localite}}</td>
			<td>{{cl.adresse.pays}}</td>
		</tr>
	</table>

</div>

<h3>{{msg}}</h3>