<h2 style="color : aquamarine; text-align: center">Formulaire de modifiaction d'un contrat</h2>
<form class="form-horizontal">

<div class="form-group">
    <label for="idId" class="col-sm-2 control-label">ID</label>
    <div class="col-sm-5">
      <input type="number" class="form-control" id="idId" ng-model="coModif.id">
    </div>
  </div>
  
 <div class="form-group">
    <label for="idID" class="col-sm-2 control-label">Type de mandat</label>
    <div class="col-sm-5">
      <select class="form-control" id="idType" ng-model="coModif.type">
		  <option value="">choisissez un type de contrat</option>
		  <option value="exclusif">Exclusif</option>
		  <option value="simple">Simple</option>
		  <option value="sous-mandat">Sous-mandat</option>
		</select>
    </div>
  </div>
  
  <div class="form-group">
    <label for="idDate" class="col-sm-2 control-label">Date</label>
    <div class="col-sm-5">
      <input type="date" id="idDate" placeholder="Entrez une date" ng-model="coModif.dateAcquisition">
    </div>
  </div>
  
  <div class="form-group">
    <label for="idVisite" class="col-sm-2 control-label">Visite</label>
    <div class="col-sm-5">
      <input type="number" class="form-control" id="idVisite" ng-model="coModif.visite.id">
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button class="btn btn-default" ng-click="modif()">Modifier</button>
    </div>
  </div>
  
</form>

<h3>{{msg}}</h3>